<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <title>Feature Request App</title>
</head>
<body>
  <div class="container">
  <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="addFeatureRequest" data-toggle="modal" data-target="#featureRequestModal">
      Add Feature Request
    </button>

  <!-- DB Table Display -->
    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="auto" scope="col">Title</th>
              <th width="400px" scope="col">Description</th>
              <th width="auto" scope="col">Client</th>
              <th width="75px" scope="col">Priority</th>
              <th width="120px" scope="col">Target Date</th>
              <th width="130px" scope="col">Product Area</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: requests, visible: requests().length > 0">
            <tr>
              <td data-bind="text: title"></td>
              <td data-bind="text: description"></td>
              <td data-bind="text: client"></td>
              <td data-bind="text: priority"></td>
              <td data-bind="text: target_date"></td>
              <td data-bind="text: product_area"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- End DB Table Display -->

  <!-- Modal -->
    <div class="modal fade" id="featureRequestModal" tabindex="-1" role="dialog" aria-labelledby="featureRequestModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="featureRequestModalTitle">Add Feature Request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form data-bind="submit: addRequest">
            <div class="modal-body">
                <div class="form-group">
                  <input type="text" class="form-control" data-bind="value: newTitle" placeholder="Title">
                </div>
                <div class="form-group">
                  <textarea class="form-control" data-bind="value: newDescription" rows="8" cols="80" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                  <select class="form-control" data-bind="value: newClient">
                    <option value="Client A">Client A</option>
                    <option value="Client B">Client B</option>
                    <option value="Client C">Client C</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" data-bind="value: newPriority" placeholder="Priority Number">
                </div>
                <div class="form-group">
                  <input type="date" class="form-control" data-bind="value: newTargetDate" placeholder="Target Date">
                </div>
                <div class="form-group">
                  <select class="form-control" data-bind="value: newProductArea">
                    <option value="policies">Policies</option>
                    <option value="billing">Billing</option>
                    <option value="claims">Claims</option>
                    <option value="reports">Reports</option>
                  </select>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div> <!-- End Modal -->
  </div> <!-- End Main Container -->
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/knockout-3.4.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/requests.js') }}"></script>
</body>
</html>
